Привет, Админ<br>
<br>
Чтобы добавить книгу, отправь мне название этой книги, автора и id категории, к которой она относится. <br>
<br>
Например:<br>
<br>
Python к вершинам мастерства :: Лучио Рамилье, 1<br>
<br>
Чтобы тебе было легче, вот список категорий: <br>
{% for category in categories %}
{{ category.name }} - {{ category.id }}<br>
{% endfor %}<br>
