<b>{{category.name}}</b><br>
<br>
Список книг:<br>
<br>
{% for book in category.books %}
  {{ book.id }}. {{ book.name }} 
  {% if book.author %}:: <i>{{ book.author }}</i> {% endif %}
<br>
{% endfor %}