Ниже я отправил тебе список категорий.<br>
<br>
Тебе нужно выбрать три категории, которые тебе интересны, из всего списка.<br>
<br>
Пришли в ответном сообщении номера категорий, категорию, книгу из которой ты хочешь прочитать. Номера
можно разделить пробелами, запятыми или переносами строк.<br>
<br>
Обрати внимание, что порядок важен — на первом месте категория, книгу из которой ты максимально
хочешь прочесть сейчас.<br>
<br>
Например:<br>
<br>
53, 8, 102<br>
<br>
Победители голосования будут выбраны методом Шульце.<br>
<br>
Чтобы выйти из режима голосования, нажми на кнопку <b>❌ Отмена</b>
