Ежемесячно мы выбираем здесь голосованием книги и читаем их. По каждой книге
Ведущие делают текстовые комментарии, как правило
по каждой главе, эти материалы попадают в группу в Telegram.<br>
<br>
Также мы обсуждаем возникающие по ходу чтения вопросы, сложности и отмечаем наиболее
полезные части книги, имеющие наибольшее значение для нас.<br>
<br>
Присоединяйся!
<br>
