Переданы некорректные номера категорий/книг, пожалуйста, проверь их.<br>
<br>
Нужно передать номера категорий/книг из списка выше.<br>
<br>
Возможно вас нет в списке, попробуйте ввести /start и повторите попытку<br>
